<div class="min-w-full bg-zinc-950 px-16 py-2 grid grid-cols-10">

    <div class="flex col-span-3 items-center">
    <%= link_to root_path do %>
        <div class="text-white flex flex-row items-center gap-2 text-2xl font-medium">
            <%= image_tag 'logos/logo_branca.png', alt: 'Logo', class: 'size-16' %>
            UVV FINANCE
        </div>
    <% end %>
    </div>

    <div class="text-white grid grid-cols-1 items-center col-span-4 text-center text-lg font-medium">
        <ul class="grid grid-cols-6">
        <li class="hover:text-indigo-600">
            <%= link_to root_path do %>
                Home
            <% end %>
        </li>
        <li class="hover:text-indigo-600">
            <%= link_to root_path do %>
                Conteúdo
            <% end %>
        </li>
        <li class="hover:text-indigo-600">
            <%= link_to root_path do %>
                Artigos
            <% end %>
        </li>
        <li class="hover:text-indigo-600">
            <%= link_to root_path do %>
                Newsletter
            <% end %>
        </li>
        <li class="hover:text-indigo-600">
            <%= link_to root_path do %>
                Eventos
            <% end %>
        </li>
        <li class="hover:text-indigo-600">
            <%= link_to root_path do %>
                Sobre
            <% end %>
        </li>
        </ul>
    </div>

    <% if user_signed_in? %>
    <div class="col-span-3 text-white flex flex-row items-center text-center justify-self-end gap-2 font-medium">
        <div>
            Olá, <%= current_user.email %>
        </div>
        <div class="">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'bg-red-600 font-medium rounded-lg px-4 py-2' %>
        </div>
    </div>
<% else %>
    <div class="col-span-3 text-white flex flex-row items-center text-center justify-self-end gap-2 font-medium">
        <div>
            <%= link_to 'Login', new_user_session_path %>
        </div>
        <div class="bg-indigo-600 font-medium rounded-lg px-4 py-2">
            <%= link_to 'Inscrever-se', new_user_registration_path %>
        </div>
    </div>
<% end %>


</div>